@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/material.css';
@import 'codemirror/theme/monokai.css';
@import 'codemirror/theme/midnight.css';
@import 'codemirror/theme/moxer.css';
@import 'codemirror/theme/dracula.css';
@import 'codemirror/theme/seti.css';
@import 'codemirror/theme/solarized.css';
* {
    margin: 0;
    padding: 0;
}

.logo {
    height: 40px;
    border-radius: 10px;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    background-color: #060606;
}

.codeEditor {
    font-size: 17px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}
.navbar button {
    width: 10%;
}

.settings {
    background-color: gray !important;
    color: white !important;
    width: 100% !important;
    text-transform: none !important;
}